rules_version = '2';
service cloud.firestore {
match /databases/{database}/documents {
// Permite que qualquer usuário autenticado leia e escreva nos chamados de suporte.
// Em um ambiente real, você pode querer adicionar regras mais granulares.
match /supportCalls/{callId} {
allow read, write: if request.auth != null;
}

// Permite apenas leitura para usuários autenticados.
// A escrita deve ser feita por um admin ou por uma função do Firebase.
match /admins_pre_aprovados/{adminId} {
  allow read: if request.auth != null;
}

// Permite apenas leitura para usuários autenticados.
// A escrita e atualização de perfil do motorista será validada no código.
match /motoristas_pre_aprovados/{driverId} {
  allow read, write: if request.auth != null;
}

}
}